---
title: Indikatoren für EntscheiderInnen
permalink: /decision_maker/
layout: page
---



{% for goal in page.goals %}
  {% if goal.number == '2' %}
    <h2>{{ goal.number }} {{ goal.name }}</h2>
    {% for indicator in page.indicators %}
      {% if indicator.number == '2.1.a' or indicator.number == '2.1.b' %}
        <table width="100%">
          <col style="width:90%">
          <col style="width:10%">
          <tr>
            <td><a href="{{ indicator.url }}">{{ indicator.number }} {{ indicator.name }}</a></td>
          </tr>
          <tr>
            <td>
              <iframe src=“{{ indicator.url }}“ height=“600″ width=“800″ name=“{{ indicator.name }}“>              
              </iframe>
            </td>
          </tr>
        </table>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
