<ul class="navbar-nav" id="{{ include.id | default: 'menu' }}">
    {%- if site.menu -%}
        {%- for item in site.menu -%}
            {%- if include.dropdowns and item.dropdown and item.dropdown.size > 0 -%}
            <li class="nav-item dropdown">
                {%- assign dropdown_id = item.translation_key | slugify -%}
                <a class="nav-link dropdown-toggle" href="#" id="dropdown-{{ dropdown_id }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ item.translation_key | t }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown-{{ dropdown_id }}">
                {%- for dropdown_item in item.dropdown -%}
                  {%- if include.dropdowns and dropdown_item.dropdown and dropdown_item.dropdown.size > 0 -%}
                    <li>
                      <a class="dropdown-item dropdown-toggle" href="#">
                          {{ dropdown_item.translation_key | t }}
                      </a>
                      <ul class="submenu dropdown-menu">
                        {%- for double_dropdown_item in dropdown_item.dropdown -%}



                          {%- if include.dropdowns and double_dropdown_item.dropdown and double_dropdown_item.dropdown.size > 0 -%}
                            <li>
                              <a class="dropdown-item dropdown-toggle" href="#">
                                  {{ double_dropdown_item.translation_key | t }}
                              </a>
                              <ul class="submenu dropdown-menu">
                                {%- for triple_dropdown_item in double_dropdown_item.dropdown -%}
                                  {%- assign triple_dropdown_item_path = triple_dropdown_item.path | t -%}
                                  <li><a class="dropdown-item" href="{% unless triple_dropdown_item_path contains 'http' %}{{ page.baseurl }}{% endunless %}{{ triple_dropdown_item_path }}">{{ triple_dropdown_item.translation_key | t }}</a></li>
                                {%- endfor -%}
                              </ul>
                            </li>
                          {%- else -%}




                            {%- assign double_dropdown_item_path = double_dropdown_item.path | t -%}
                            <li><a class="dropdown-item" href="{% unless double_dropdown_item_path contains 'http' %}{{ page.baseurl }}{% endunless %}{{ double_dropdown_item_path }}">{{ double_dropdown_item.translation_key | t }}</a></li>
                          {%- endif -%}
                        {%- endfor -%}
                      </ul>
                    </li>
                  {%- else -%}

                    {% include navigation-link.html item=dropdown_item in_dropdown=true %}
                  {%- endif -%}
                {%- endfor -%}
            </ul>
          </li>
          {%- elsif item.dropdown and item.dropdown.size > 0 -%}
              {%- for dropdown_item in item.dropdown -%}
                  {% include navigation-link.html item=dropdown_item %}
              {%- endfor -%}
          {%- else -%}
              {% include navigation-link.html item=item %}
          {%- endif -%}
      {%- endfor -%}
  {%- endif -%}
</ul>
