// Here you can override any of the Sass variables from Open SDG. This is the
// easiest way to change things like colors and dimensions. Below are a few
// examples of variables. For a full list, see this folder:
// https://github.com/open-sdg/open-sdg/tree/master/_sass/variables

//$goal-colors: white white white white white white white white white white white white white white white white white;
$goal-banner-backgroundColors: #E52B3D #DDA63A #4C9F38 #C42130 #FF3E24 #28BCE1 #FCC30B #A21942 #FD6925 #DD1367 #FD9C27 #BF8B2E #417D46 #0A96D8 #57BE2F #00689C #1F4A6A;
$goal-banner-color: white;

$status-backgroundColor-complete: #5cb85c;
$status-backgroundColor-inprogress: #f0ad4e;
$status-backgroundColor-notstarted: #E27874;
$status-backgroundColor-notapplicable: #B7B7B7;

$status-color-complete: black;
$status-color-inprogress: black;
$status-color-notstarted: black;
$status-color-notapplicable: black;

$status-border-complete: none;
$status-border-inprogress: none;
$status-border-notstarted: none;
$status-border-notapplicable: none;

$menu-dropdownLink-backgroundColor-hover: #f5f5f5 !default;
