
<ol class="breadcrumb">
  <li><a href="{{ site.baseurl }}{{ baseurl_folder }}/">{{ t.general.home }}</a></li>
  {% if goal_uri %}
      <li><a href="{{ goal_uri }}" title="{{ goal_title }}">{{ t.general.goal }} {{ goal_number }}</a></li>
      <li class="active">{{ t.general.indicator }} {{ meta.indicator_display }}</li>
      <!--

      {% if meta.sdg_indicator %}
        <li class="btn">
          <a href="https://g205sdgs.github.io/sdg-indicators{{ meta.sdg_indicator }}">
            {{ t.general.indicator_link_sdg }} {{ meta.sdg_indicator | replace: "/", "" | replace: "-", "."}}
          </a>
        </li>
      {% endif %}


      <li class="pull-right">
        <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.next }}" title="next indicator">
          {{ t.general.indicator }} {{ meta.next | replace: "-", "." }}
        </a>
      </li>
      <li class="pull-right">
        <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.previous }}" title="previous indicator">
          {{ t.general.indicator }} {{ meta.previous | replace: "-", "." }}
        </a>
      </li>
      -->

  {% else %}
      <li class="active">{{ t.general.goal }} {{ goal_number }}</li>
      <!--
      <li class="center">
        <a href="https://g205sdgs.github.io/sdg-indicators/{{ goal_number }}">
          {{ t.general.target_link_sdg }} {{ goal_number }}
        </a>
      </li>

      {% if page.sdg_goal == '1' %}
        {% assign next_goal = '2' %}
        {% assign previous_goal = '17' %}
      {% elsif page.sdg_goal == '17' %}
        {% assign next_goal = '1' %}
        {% assign previous_goal = '16' %}
      {% else %}
        {% assign previous_goal = page.sdg_goal | minus: 1 %}
        {% assign next_goal = page.sdg_goal | plus: 1 %}
      {% endif %}

      <li class="pull-right">
        <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ next_goal }}" title="next goal">
          {{ t.general.goal }} {{ next_goal }}
        </a>
      </li>
      <li class="pull-right">
        <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ previous_goal }}" title="previous goal">
          {{ t.general.goal }} {{ previous_goal }}
        </a>
      </li>
      -->

  {% endif %}

</ol>
