
{% if page.language == 'de' %}
  {% assign link = "https://www.bundesregierung.de/breg-de/themen/nachhaltigkeitspolitik/eine-strategie-begleitet-uns" %}
{% else %}
  {% assign link = "https://www.bundesregierung.de/breg-en/issues/sustainability" %}
{% endif %}

<div>
    <div>
      <a href="{{ link }}"><img src="https://dns-indikatoren.de//assets/img/goals/dns/de/18.png" alt="N" style="width:100px; margin-right:10px; float:left"></a>
      {{ page.t.frontpage.gov_report_text }}
    </div>
</div>
