{%- include multilingual.html -%}
{% include head.html %}
{% include header.html %}

<div id="main-content" class="container goal-tiles" role="main">

    {% assign country_name = site.country.name | t %}
    {% assign heading_default = t.frontpage.heading_dns | replace: '%name', country_name %}
    <h1>{{ site.frontpage_heading | default: heading_default | t }}</h1>
    <!--<a href="https://dns-dialogfassung.github.io" class="btn btn-primary btn-block frontBtn" role="button" style="margin-bottom: 15px; margin-top: 15px;"> <span class="hidden-xs">{{ t.frontpage.dialogue_link_1 }} </span>{{ t.frontpage.dialogue_link_2 }}</a>
    -->
    {% assign instructions_default = t.frontpage.instructions_dns | replace_first: '%before_link', '<span id="jump-to-search"><a>' | replace_first: '%after_link', '</a></span>' | replace_first: '%name', country_name %}
    <p>{{ site.frontpage_instructions | default: instructions_default | t }}</p>
    {%- assign goals = site.goals | where: 'language', current_language -%}
    {% assign colors = "#E52B3D, #DDA63A, #4C9F38, #C42130, #FF3E24, #28BCE1, #FCC30B, #A21942, #FD6925, #DD1367, #FD9C27, #BF8B2E, #417D46, #0A96D8, #57BE2F, #00689C, #1F4A6A" | split: ',' %}
    {% for goal in goals %}
        {%- assign goal_number = goal.sdg_goal -%}
        {%- assign goal_short_key = goal_number | append: '-short' -%}
        {%- assign goal_short = t.global_goals[goal_short_key] -%}
        {% assign color_key = goal_number | minus: 1 %}

        {% cycle 'add row' : '<div class="row no-gutters">', '', '', '', '', '' %}
            <div class="col-xs-4 col-md-2">
                <a href="./{{ goal_number }}/">
                  <img src="{{ site.goal_image_base }}/{{ current_language }}/{{ goal_number }}.png" id="goal-{{ goal_number }}" style="border-color: {{ colors[color_key] }}; width: 99%" alt="{{ goal_short }} - {{ t.general.goal }} {{ goal_number }}" />
              </a>
            </div>
        {% cycle 'end row' : '', '', '', '', '', '</div>' %}
    {% endfor %}
    {% comment %}
        If there were exactly 17 goals, "pad" it with 1 more, to make it come
        out more symmetrically.
    {% endcomment %}
    {% if goals.size == 17 %}
        <div class="col-xs-4 col-md-2">
          <a href="https://www.destatis.de/DE/Themen/Gesellschaft-Umwelt/Nachhaltigkeitsindikatoren/Deutsche-Nachhaltigkeit/_inhalt.html">
            <img src="{{ site.goal_image_base }}/{{ current_language }}/18.png" id="goal-18" title="{{ t.frontpage.link_18_title }}" style="border-color: transparent" alt="The Global Goals for Sustainable Development" />
          </a>
        </div>
    {% endif %}
    </div>

</div>
{% include footer.html %}
