<!-- Count the non-empty histories (up to 2) -->
{% assign n_weathers = 0 %}
{% for i in (1..3) %}
  {% assign wth_active = "weather_active_" | append: i %}
  {% if page.indicator[wth_active] == true %}
    {% assign n_weathers  = n_weathers | plus: 1 %}
  {% endif %}
{% endfor %}

{% if n_weathers > 0 %}
  <div class="row">
    {% assign has_valid_target = false %}
    {% for i in (1..n_weathers) %}

      {% for j in (1..8) %}
        {% assign tgt_category = "weather_indicator_" | append: i | append: '_target_' | append: j | append: '_category' %}
        {% if page.indicator[tgt_category] and  page.indicator[tgt_category] != 'old' %}
          {% assign has_valid_target = true %}
        {% endif %}
      {% endfor %}

      {% if has_valid_target == true %}

        {% assign wth_active = "weather_active_" | append: i %}
        {% assign wth_scope = "weather_" | append: i %}
        <div class="col-md-6">
          <!-- {% if n_weathers > 1 %}
            <h4>{{ page.t.indicator.timeseries }} {{ i }}</h4>
          {% endif %} -->
          {% include components/indicator/metadata.html scope=wth_scope %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
