{% if page.language == 'de' %}
  {% assign language = 'De' %}
{% else %}
  {% assign language = 'En'' %}
{% endif %}
<table class="table" style="width:100%; table-layout: fixed;">
  {% for indicator_metadata in site.data.schema %}
    {%- assign metadata_label = indicator_metadata.name | translate_metadata_field -%}
    {% if indicator_metadata.field.scope == include.scope %}
      {% if site.hide_empty_metadata %}
        {% unless (page.indicator[indicator_metadata.name] and page.indicator[indicator_metadata.name] != '') %}
          {% continue %}
        {% endunless %}
      {% endif %}

      {% assign var = 'doShow' %}
      {% if indicator_metadata.name contains "source_organisation_" or indicator_metadata.name contains "weather" or indicator_metadata.name == "national_indicator_available" or indicator_metadata.name == "national_geographical_coverage" %}
        {% assign var = 'dontShow' %}
        {% if indicator_metadata.name contains "short" or indicator_metadata.name contains "_logo" %}
          {% assign var = 'doShow' %}
        {% endif %}
      {% endif %}


      {% unless var == 'dontShow' or indicator_metadata.name contains "_url_text" or indicator_metadata.name contains "_link_text" or indicator_metadata.name contains "_url_alert" %}
        {% if indicator_metadata.field.scope != 'content' and indicator_metadata.field.scope != 'download' and indicator_metadata.field.scope != 'source'%}
           <tr id="everythingElse">
            <th scope="row" style="text-align: left; width: 130px;">{{ metadata_label }} </th>
            <td>
              {% if indicator_metadata.name contains "_url" or indicator_metadata.name contains "_link" %}
                {% assign url_text_name = indicator_metadata.name | replace_first:'_url','_url_text'  %}
                {% assign url_text_name = url_text_name | replace_first:'_link','_link_text'  %}
                {% assign url_text = page.indicator[url_text_name] %}
                {% unless url_text %}
                  {% assign url_text = 'Link' %}
                {% endunless %}

                {% assign url_alert_name = indicator_metadata.name | replace_first:'_url','_url_alert'  %}
                {% assign url_alert_name = url_alert_name | replace_first:'_link','_link_alert'  %}
                {% assign url_alert = page.indicator[url_alert_name] %}

                {% if page.indicator[indicator_metadata.name] contains "http" or page.indicator[indicator_metadata.name] contains "mailto" %}
                  {% if url_alert %}
                    <a href="{{ page.indicator[indicator_metadata.name] }}" target="_blank" onclick="return confirm_alert('{{ url_alert }}', '{{ language }}');">
                      {{ url_text }} <span class="visuallyhidden">{{ page.t.general.opens_new_window }}</span>
                    </a>
                  {% else %}
                  <a href="{{ page.indicator[indicator_metadata.name] }}" target="_blank">
                    {{ url_text }} <span class="visuallyhidden">{{ page.t.general.opens_new_window }}</span>
                  </a>
                  {% endif %}
                {% endif %}

              {% elsif indicator_metadata.field.element == 'multiselect' %}
                {% for item in page.indicator[indicator_metadata.name] %}
                  {{ item | t }}{% unless forloop.last %}, {% endunless %}
                {% endfor %}
              {% else %}
                {{ page.indicator[indicator_metadata.name] | markdownify }}
              {% endif %}
            </td>
          </tr>
        {% else %} <!-- case: content -->
          <p> {{ page.indicator[indicator_metadata.name] | markdownify }} </p>
        {% endif %}
      {% endunless %}
    {% endif %}
  {% endfor %}
</table>
