{% if page.language == 'de' %}
  {% assign language = '' %}
{% else %}
  {% assign language = page.language | append: '/' %}
{% endif %}

{% if site.environment == 'staging' %}
  {% assign baseurl = 'https://dnstestenvironment.github.io/dns-indicators' %}
{% else %}
  {% assign baseurl = 'https://dns-indikatoren.de' %}
{% endif %}

<!---Indicator page-->
<!---3 Btns if there is a corresponding Indicator-->

<div class="container" id="navigationbuttons">
  <div class="row justify-content-around">
    {% if page.indicator.sdg_indicator and page.indicator != '' %}
      {% if page.indicator.sdg_indicator2 and page.indicator != '' %}
        <div class="col-sm-3 d-grid gap-2">
      {% else %}
        <div class="col-sm-4 d-grid gap-2">
      {% endif %}
    {% else %}
      <div class="col-sm-6 d-grid gap-2">
    {% endif %}
      <a href="{{ baseurl }}/{{ language }}/{{ page.indicator.previous }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn text-nowrap" role="button">
        <b class="d-sm-none d-lg-block"><i class="fa fa-chevron-left" aria-hidden="true"></i> {{ page.t.general.prev_indicator }}</b><b class="d-none d-sm-block d-lg-none"><i class="fa fa-chevron-left" aria-hidden="true"></i></b>
      </a>
    </div>

    {% if page.indicator.sdg_indicator and page.indicator != '' %}
      {% if page.indicator.sdg_indicator2 and page.indicator != '' %}
        <div class="col-sm-3 d-grid gap-2">
          <a href="https://sdg-indikatoren.de/{{ language }}{{ page.indicator.sdg_indicator | replace: '.', '-'}}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" title="{{ t.general.link_sdg_goal }}" role="button">
            <b class="btn-label d-sm-none d-lg-block">{{ page.t.general.link_sdg_indicator_short }} {{ page.indicator.sdg_indicator | replace: "/", ""}}</b><b class="btn-label d-none d-sm-block d-lg-none">SDG {{ page.indicator.sdg_indicator | replace: "/", ""}}</b>
          </a>
        </div>
        <div class="col-sm-3 d-grid gap-2">
          <a href="https://sdg-indikatoren.de/{{ language }}{{ page.indicator.sdg_indicator2 | replace: '.', '-'}}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" title="{{ t.general.link_sdg_goal }}" role="button">
            <b class="btn-label d-sm-none d-lg-block">{{ page.t.general.link_sdg_indicator_short }} {{ page.indicator.sdg_indicator2 | replace: "/", ""}}</b><b class="btn-label d-none d-sm-block d-lg-none">SDG {{ page.indicator.sdg_indicator2 | replace: "/", ""}}</b>
          </a>
        </div>
      {% else %}
        <div class="col-sm-4 d-grid gap-2">
          <a href="https://sdg-indikatoren.de/{{ language }}{{ page.indicator.sdg_indicator | replace: '.', '-'}}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" title="{{ t.general.link_sdg_goal }}" role="button">
            <b class="btn-label d-sm-none d-lg-block">{{ page.t.general.link_sdg_indicator }} {{ page.indicator.sdg_indicator | replace: "/", ""}}</b><b class="btn-label d-none d-sm-block d-lg-none">SDG {{ page.indicator.sdg_indicator | replace: "/", ""}}</b>
          </a>
        </div>
      {% endif %}
    {% endif %}

    {% if page.indicator.sdg_indicator and page.indicator != '' %}
      {% if page.indicator.sdg_indicator2 and page.indicator != '' %}
        <div class="col-sm-3 d-grid gap-2">
      {% else %}
        <div class="col-sm-4 d-grid gap-2">
      {% endif %}
    {% else %}
      <div class="col-sm-6 d-grid gap-2">
    {% endif %}
      <a href="{{ baseurl }}/{{ language }}{{ page.indicator.next }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn text-nowrap" role="button">
        <b class="btn-label d-sm-none d-lg-block">{{ page.t.general.next_indicator }} <i class="fa fa-chevron-right" aria-hidden="true"></i></b><b class="d-none d-sm-block d-lg-none"><i class="fa fa-chevron-right" aria-hidden="true"></i></b>
      </a>
    </div>
  </div>
</div>
